<div *ngIf="isLoggedIn">
  <div class="page-wrapper color-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand fixed-top">
          <a href="#">Simmpli Chat</a>
        </div>
        <div class="sidebar-header">

          <div class="user-pic">
            <img src="{{urlBase + user.current_profile.dp_url_small}}" onerror="this.src='../app/image/user.png'"
              alt="PP" class="user-pic-small">
          </div>
          <div class="user-info">
            <span class="user-name"><b> {{user.current_profile.full_name}} </b>
            </span>
            <span class="user-status" ng-if="user.online">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
            <span class="user-status" ng-if="!user.online">
              <i class="fa fa-circle" style="color: red"></i>
              <span>Offline</span>
            </span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span class="ml-2">Channels</span>
              <i class="fa fa-plus" ui-sref="dashboard.new-channel"></i>
            </li>
            <li *ngFor="let channel of publicChannels">
              <a href="#" (click)="transitionToChannel(channel);"
                [ngStyle]="(channel.id == selectedId)? activeStyle: {}">
                <span class="ml-3"># {{channel.name}}</span>
              </a>
            </li>
            <li class="header-menu">
              <hr />
              <span>Direct Message</span>
              <i class="fa fa-plus" (click)="toggleModal('#dmSearchModal',true)"></i>
            </li>
            <li>
              <a href="#" (click)="transitionToDM(user.current_profile);"
                [ngStyle]="((user.current_profile.id == selectedId))? activeStyle: {}">
                <span>
                  <i class="fa fa-circle custom-online" style="color:green"></i>
                  <span>{{user.current_profile.full_name}} (you)</span>
                </span>
              </a>
            </li>
            <li *ngFor="let user of filteredUsers">
              <a href="#" (click)="transitionToDM(user);" [ngStyle]="((user.id == selectedId))? activeStyle: {}">
                <span>
                  <i class="fa fa-circle custom-online" ng-if="!user.online"></i>
                  <i class="fa fa-circle custom-online" ng-if="user.online" style="color:green"></i>
                  <span>{{user.full_name}}</span>
                  <span class="msg-count">1</span>
                </span>
              </a>
            </li>
            <!-- <hr style="height:1px; border:none; color:rgb(90, 81, 81); background-color:rgb(82, 76, 76); width:100%; text-align:left; margin: 0 auto 0 0;"> -->
          </ul>
          <div class="fixed-bottom bottom-menu">
            <a href="javascript:void(0)" (click)="logOut();" class="header-menu">
              <span class="fas fa-power-off" style="padding-right: 5px"></span>
              <span style="padding: 0">
                Logout
              </span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- <main class="page-content" id="drag">
      <ui-view></ui-view>
    </main> -->
  </div>
  <div class="loader fixed-top d-none">
    <div class="slider"></div>
  </div>
</div>


<router-outlet></router-outlet>
