<div class="wrapper">
  <form class="login" (ngSubmit)="login(user)">
    <p class="title">Log in</p>
    <img class="cen" src="../../../assets/image/simmpli-64x64.png">
    <input type="text" placeholder="Username" autofocus [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    <i class="fa fa-envelope"></i>
    <input type="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button>
      <span class="state">Log in</span>
    </button>
  </form>
</div>
