<div class="wrapper">
  <form class="login" [formGroup]="userForm" (ngSubmit)="login()">
    <p class="title">Log in</p>
    <img class="cen" src="../../../assets/image/simmpli-64x64.png">
    <input type="email" placeholder="Username" formControlName="email" id="email" class="form-control">
    <i class="fa fa-envelope"></i>
    <input type="password" placeholder="Password" formControlName="password" id="password" class="form-control">
    <i class="fa fa-key"></i>
    <a href="javascript:void(0)">Forgot your password?</a>
    <button type="submit">
      <span class="state">Log in</span>
    </button>
  </form>
</div>
