<div class="new-channel">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create a channel</h4>
        <p class="card-subtitle">

          <span>Channels are where your members communicate. They're best when organize around a
            topic-#leads, for example</span>
        </p>
        <!-- </br> -->
        <div>

          <ui-switch labelOn="Private" labelOff="Public" (change)="onChangeChannelStatus($event)"></ui-switch>
          <span id="text">
            Anyone in your workspace can view and join this channel
          </span>
        </div>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="channel.name">
            <small id="name" class="form-text text-muted">Names must be lowercase, without spaces or periods, and
              shorter
              than 22 characters.</small>
          </div>
          <div class="form-group">
            <label for="purpose">Purpose</label>
            <input type="text" class="form-control" id="purpose" [(ngModel)]="channel.purpose"
              [ngModelOptions]="{standalone: true}">
            <small id="purpose" class="form-text text-muted">What's this channel about?</small>
          </div>
          <div class="form-group">
            <ng-multiselect-dropdown [placeholder]="'Select People'" [data]="dropdownList"
              [(ngModel)]="selectedUsers" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown>
            <small id="name" class="form-text text-muted">Select up to 1000 people to add this channel.</small>
          </div>
          <div class="form-group" style="display:flex; justify-content: space-between">
            <button type="submit" (click)="createNewChannel()" class="btn btn-outline-primary">Create
              Channel</button>
            <button type="button" routerLinkActive="active" routerLink="/chat-room"
              class="btn btn-outline-danger">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
