a {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e2e6;
  border-radius: 10px;
}
